/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body
{
    
    font-family: 'Open Sans' , sans-serif;
}
body a
{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*----*/
.header-top
{
   background: #113f6c;
   width: 100%;
   position: fixed;
   bottom: 0;
}
ul
{
    padding: 0;
    margin: 0;
}
.header-top ul
{
    float: right;
}
.header-top ul li
{
    display: inline-block;
    padding: 1.5em 0.7em 1.2em;
}
.header-top ul li a
{
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    vertical-align: top;
}
.header-top ul li span
{
    background: url(/_data/2018/img-sprite.png) -16px -9px;
    width: 50px;
    height: 22px;
    display: inline-block;
}
.header-top ul li.tele-in span
{
    background-position: -54px -9px;
}
.header-bottom
{
    background: #f5ae54;
}
.logo
{
    float: left;
    margin-top: 1.1em;
}
.logo img
{
    width: 150px;
}
.top-nav
{
    float: right;
}
.top-nav ul li
{
    display: inline-block;
    padding: 2em 1em;
}
.top-nav ul li a
{
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.top-nav ul li a:hover
{
    color: #113f6c;
}
.top-nav span.menu:before
{
    content: url(/_data/2018/nav-ic.png)no-repeat 0px 0px;
    cursor: pointer;
    width: 100%;
}

/*--responsive media-quries--*/
@media (max-width:768px)
{
    .top-nav ul
    {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 9999;
        left: 0%;
        margin: 0em 0em;
        background: rgba(17, 63, 108, 0.88);
    }
  
    .top-nav ul li
    {
        display: block;
        float: none;
        padding: 1em 0.8em;
        text-align: center;
        border-bottom: 1px solid #ffffff;
    }
    .top-nav ul li a, .top-nav ul li.active a
    {
        color: #fff;
        border: none;
        padding: 0;
    }
    .top-nav ul li:hover
    {
        background: #113f6c;
    }
    .top-nav ul li a:hover, .top-nav ul li.active a:hover
    {
        color: #000;
        border: none;
    }
}
body {
    margin: 0;
    padding: 0px;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
  }
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .container:before,
  .container:after,
  .modal-footer:after {
    display: table;
    content: " ";
  }
  .container:after,
  .modal-footer:after {
    clear: both;
  }

.login-form {
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-form input[type="text"] {
	  width: 70%;
	  padding: 1em 2em 1em 3em;
	  color: #22662e;
	  font-size: 18px;
	  outline: none;
	  background: no-repeat 10px 15px;
	  border: none;
	  font-weight: 100;
	  border-bottom: 1px solid#484856;
	  margin-top: 2em;
}
.login-form input[type="password"]{
	  width: 70%;
	  padding: 1em 2em 1em 3em;
	  color: #f5ae54;
	  font-size: 18px;
	  outline: none;
	  background: no-repeat 10px 23px;
	  border: none;
	  font-weight: 100;
	  border-bottom: 1px solid#484856;
	  margin-bottom: 3em;
 }
 .login-form  input[type="submit"]{
  font-size: 30px;
  color: #fff;
  outline: none;
  border: none;
  background: #0cb32b;
  width: 100%;
  padding: 18px 0;
  border-bottom-left-radius: 15px;

	border-bottom-right-radius: 15px;
	
	cursor: pointer;
}


.register-form{
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%,-50%);
}